@{
    Layout = "~/_SiteLayout.cshtml";

    int fileId = UrlData[ 0 ].AsInt();

    Database db = Database.Open( "StarterSite" );
    dynamic document = db.QuerySingle( "SELECT * FROM DocumentStorage WHERE Id=@0", fileId );

    string content = System.Text.Encoding.Unicode.GetString( ( byte[] )document.Content );

    Page.Title = UrlData[ 1 ];
}

@section featured { 
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
        </hgroup>
     </div>
</section>
}

@Html.Raw( content )



