@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Documents";
    Database db = Database.Open( "StarterSite" );
    IEnumerable<dynamic> documents = db.Query( "SELECT * FROM Documents ORDER BY Id" );
}

@section featured { 
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
        </hgroup>
        <p>
            The following documents (mainly rules) are available to view.
        </p>
    </div>
</section>
}

<table>
    @foreach ( dynamic document in documents )
    {
        <tr>
            <td><a href="@Href( "~/DisplayPage", document.Id, document.Title )">@document.Title</a></td>
        </tr>
    }
</table>

@if ( Roles.IsUserInRole( "Admin" ) == true )
{
    <a href="~/AddDocument" class="btn">Add document</a>
}
