@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Gallery";
}

@section featured { 
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
        </hgroup>
        <p>
            Skittles related piccies.
        </p>
    </div>
</section>
}

<h3>Still the best Oddzes theme...</h3>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8pCWRGwlFzA" frameborder="0" allowfullscreen></iframe>

<h3>Oddzes meal Feb 2019</h3>
<br>
<img src="images/IMG_20190215_204832_02.JPG" alt="Food glorious food!!!" />
<br>

<h3>From 2018 skittles do</h3>
<br>
<img src="images/2018-05-18 20_01.28.32.JPG" alt="Before the excitement" />
<p>Before the excitement</p>

<img src="images/2018-05-18 21_01.38.30.jpg" alt="Presentation 1" />
<img src="images/IMG_2985.jpeg" alt="Presentation 2" />
<p>Presentations</p>

<img src="images/2018-05-18 21_01.38.47.jpg" alt="The spoils 1" />
<img src="images/2018-05-18 21_01.40.43.jpg" alt="The spoils 2" />
<img src="images/2018-05-18 21_01.48.07.jpg" alt="The spoils 3" />
<p>The spoils</p>

<img src="images/2018-05-18 22_01.04.15.JPG" alt="Celebration time" />
<p>Celebration time</p>

<img src="images/IMG_20180518_221302_01.JPG" alt="The team 2018" />
<p>The team 2018</p>
